<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Listado de Contactos</h2>
    <a href="#">Agregar Contacto</a>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let contacto of contactos">
            <td>{{contacto.nombre}}</td>
            <td>{{contacto.telefono}}</td>
            <td>{{contacto.email}}</td>
            <td>
                <!-- <button (click)="editar(contacto.id)">Editar</button> -->
                <!-- <button (click)="eliminar(contacto.id)">Eliminar</button> -->
            </td>
        </tr>
    </table>

<a href="contactos/agregar">Agregar Contacto</a>
</body>
</html>
